* {
    padding:0;
    margin:0;
    }
    html {
    height:100%;
    }
    BODY {
    border-color: -moz-use-text-color;
    border-right: 0px none;
    border-style: none;
    border-width: 0px;
    border:0px;
    color: #000040;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    height: 100%;
    margin: 0px;
    overflow: auto;
    padding: 0px;
    text-align: left;
    text-decoration: none;
    }
    TD.table_position{
    VERTICAL-ALIGN:top;
    HEIGHT:100%;
    }
    TABLE.main_table{
    PADDING-RIGHT:0px;
    PADDING-LEFT:0px;
    PADDING-BOTTOM:0px;
    WIDTH:100%;
    PADDING-TOP:0px;
    HEIGHT:100%;
    }
    TR.Header_Area {
    background-color: #000053;
    border-color: -moz-use-text-color;
    border-right: 0px none;
    border-style: none;
    border-width: 0px;
    height: 76px;
    padding: 0px;
    }
    .Header_Language_Time_Date {
    padding-right: 33px;
    }
    .Header_Date_Time {
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    text-align: right;
    color: #E9E9FC;
    }
    .Header_Title_Description {
    color: #8080FF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 26px;
    padding: 0px 2px 0px 13px;
    text-align: left;
    }
    FORM.Header_Language_Selection_Form {
    border-width: 0px;
    color: #FFFFFF;
    margin: 0px;
    }
    INPUT.Header_Language_Input {
    background-color: #000053;
    border-color: #000000;
    border-right: 0px solid #000000;
    border-style: solid;
    border-width: 0px;
    color: #FFFFFF;
    font-size: 10px;
    text-decoration: underline;
    }
    SELECT.Header_Language_Selectionbox {
    background-color: #000053;
    color: #FFFFFF;
    font-size: 10px;
    padding: 0px;
    width: 90px;
    }
    TD.MainMenu_Area{
    width:116px;
    background-color:#7f7fff;
    border-right-width:2px;
    border-right-style:solid;
    border-right-color:black;
    HEIGHT:100%;
    }
    TABLE.MainMenu_Area {
    background-color: #7F7FFF;
    border-right: 2px solid black;
    height: 100%;
    width: 116px;
    }
    TD.Login_Area {
    background-color: #CCCCFF;
    font-size: 10px;
    height: 60px;
    min-width: 116px;
    width: 116px;
    }
    TR.MainMenu_Navigation_Level1 {
    font-size: 12px;
    }
    TD.MainMenu_Navigation_arrow_Level1 {
    padding-left: 8px;
    padding-right: 3px;
    }
    TD.MainMenu_Navigation_Level1 {
    }
    .MainMenu_Navigation_Text_Level1 {
    color: #00005E;
    text-decoration: none;
    }
    .MainMenu_Navigation_Text_Level1_Selected {
    color: #FFFFFF;
    font-weight: bold;
    text-decoration: none;
    }
    TD.Client_Area {
    background-color: #E9E9FC;
    height: 100%;
    vertical-align: top;
    width: 100%;
    }
    TABLE.Title_Area {
    background-color: #C0C0DB;
    border-color: -moz-use-text-color;
    border-right: 0px none;
    border-style: none;
    border-width: 0px;
    height: 60px;
    width: 100%;
    }
    TD.Title_Area_Name {
    color: #00005E;
    font-size: 16px;
    font-variant: normal;
    font-weight: bold;
    padding: 7px 0px 0px 11px;
    vertical-align: top;
    }
    TD.Title_Area_RefreshIcon {
    padding: 0px 33px 0px 0px;
    text-align: right;
    vertical-align: bottom;
    }
    TD.Title_Area_Selectbox {
    color: #00005E;
    height: 30px;
    margin: 0px;
    padding: 4px 0px 0px 11px;
    vertical-align: top;
    }
    TABLE.Data_Area{
    WIDTH:100%;
    HEIGHT:100%;
    }
    TABLE.Second_Nav_Menu{
    font-weight:bold;
    font-size: 12px;
    width:100%;
    background-color:#8080ff;
    }
    TD.Second_Nav_Menu_Selected{
    height:23px;
    border-right:2px solid #8080ff;
    border-top:3px solid #8080ff;
    background-color:#E9E9FC;
    padding-left:5px;
    padding-right:5px;
    padding-top:2px;
    white-space:nowrap;
    text-align:center;
    }
    TD.Second_Nav_Menu_NonSelected{
    height:23px;
    border-right:2px solid #8080ff;
    border-top:3px solid #8080ff;
    background-color:#BABAF1;
    padding-left:5px;
    padding-right:5px;
    padding-top:2px;
    white-space:nowrap;
    text-align:center;
    }
    A.Second_Nav_Menu_Link {
    color: #000040;
    font-family: Arial,Helvetica,sans-serif;
    text-decoration: none;
    }
    TD.static_field {
    border-left: 6px solid #E9E9FC;
    border-top: 4px solid #E9E9FC;
    font-size: 12px;
    height: 21px;
    text-align: right;
    width: 144px;
    }
    TD.static_field_1 {
    font-size: 12px;
    height: 21px;
    text-align: right;
    width: 144px;
    }
    TD.static_field_headline {
    border-left: 6px solid #E9E9FC;
    border-top: 4px solid #E9E9FC;
    font-size: 12px;
    font-weight: bold;
    height: 21px;
    text-align: right;
    width: 144px;
    }
    TD.static_field_dyn {
    border-left: 6px solid #E9E9FC;
    border-top: 4px solid #E9E9FC;
    font-size: 12px;
    height: 21px;
    padding-left: 1px;
    padding-right: 6px;
    text-align: left;
    }
    TD.static_field_small {
    border-left: 6px solid #E9E9FC;
    border-top: 4px solid #E9E9FC;
    font-size: 12px;
    height: 21px;
    text-align: right;
    width: 98px;
    }
    TD.static_field_long_1 {
    font-size: 12px;
    height: 21px;
    text-align: left;
    width: 350px;
    }
    TD.static_field_long {
    border-left: 6px solid #E9E9FC;
    border-top: 4px solid #E9E9FC;
    font-size: 12px;
    height: 21px;
    text-align: right;
    width: 240px;
    }
    TD.output_field {
    background-color: #E0E0F7;
    border-left: 6px solid #E9E9FC;
    border-top: 4px solid #E9E9FC;
    font-size: 12px;
    text-align: left;
    width: 144px;
    }
    TD.output_field_col {
    border-left: 6px solid #E9E9FC;
    border-top: 4px solid #E9E9FC;
    font-size: 12px;
    text-align: left;
    width: 144px;
    }
    TD.output_field_long_1 {
    background-color: #E0E0F7;
    border-color: #E9E9FC;
    border-style: solid;
    border-width: 4px 4px 0px;
    font-size: 12px;
    text-align: left;
    width: 240px;
    }
    TD.output_field_long_2 {
    background-color: #E0E0F7;
    border-color: #E9E9FC;
    border-style: solid;
    border-width: 0px 4px 4px;
    font-size: 12px;
    text-align: left;
    width: 240px;
    }
    TD.output_field_long_3 {
    background-color: #E0E0F7;
    border-color: #E9E9FC;
    border-style: solid;
    border-width: 4px;
    font-size: 12px;
    text-align: left;
    width: 240px;
    }
    TD.output_field_long {
    background-color: #E0E0F7;
    border-left: 6px solid #E9E9FC;
    border-top: 4px solid #E9E9FC;
    font-size: 12px;
    text-align: left;
    width: 240px;
    }
    TD.output_field_long_col {
    border-left: 6px solid #E9E9FC;
    border-top: 4px solid #E9E9FC;
    font-size: 12px;
    text-align: left;
    width: 240px;
    }
    TD.output_field_dyn {
    background-color: #E0E0F7;
    border-left: 6px solid #E9E9FC;
    border-top: 4px solid #E9E9FC;
    font-size: 12px;
    padding-left: 1px;
    padding-right: 6px;
    text-align: left;
    }
    TD.static_field_headline_long_1 {
    font-size: 12px;
    font-weight: bold;
    height: 21px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-align: left;
    width: 350px;
    }
    TD.static_field_headline_dyn_1 {
    font-size: 12px;
    font-weight: bold;
    height: 21px;
    padding-top: 24px;
    text-align: left;
    }
    TD.static_field_headline_dyn_2 {
    font-size: 14px;
    font-weight: bold;
    height: 21px;
    padding-top: 24px;
    text-align: center;
    width: 100%;
    }
    TD.static_field_headline_dyn {
    border-left: 6px solid #E9E9FC;
    border-top: 4px solid #E9E9FC;
    font-size: 12px;
    font-weight: bold;
    height: 21px;
    padding-left: 1px;
    padding-right: 6px;
    padding-top: 24px;
    text-align: left;
    }
    TD.static_field_headline_small {
    border-left: 6px solid #E9E9FC;
    border-top: 4px solid #E9E9FC;
    font-size: 12px;
    font-weight: bold;
    height: 21px;
    padding-top: 24px;
    text-align: right;
    width: 98px;
    }
    TD.static_field_headline_long {
    border-left: 6px solid #E9E9FC;
    border-top: 4px solid #E9E9FC;
    font-size: 12px;
    font-weight: bold;
    height: 21px;
    padding-top: 24px;
    text-align: right;
    width: 240px;
    }
    INPUT.Vartable_Go_Button {
    background-color: #C0C0DB;
    border-color: #000000;
    border-right: 0px solid #000000;
    border-style: solid;
    border-width: 0px;
    color: #00005E;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    text-decoration: underline;
    }
    TABLE.Vartable {
    background-color: #E9E9FC;
    border-collapse: collapse;
    border-color: -moz-use-text-color;
    border-right: 0px none;
    border-style: none;
    border-width: 0px;
    font-size: 12px;
    height: 100%;
    width: 100%;
    }
    INPUT.varstate_submit_field {
    background-color: #CCCCFF;
    border-color: #000000;
    border-right: 0px solid #000000;
    border-style: solid;
    border-width: 0px;
    color: #00005E;
    font-size: 12px;
    }
    TD.vartable_description_line {
    height: 21px;
    padding-left: 2px;
    width: 100%;
    }
    TD.vartable_header_field {
    background-color: #D6D6FF;
    border-color: #FFFFFF;
    border-right: 1px solid #FFFFFF;
    border-style: solid;
    border-width: 1px;
    height: 17px;
    padding-left: 2px;
    padding-right: 2px;
    text-align: left;
    }
    TD.vartable_static_field {
    background-color: #E9E9FC;
    border-color: #FFFFFF;
    border-right: 1px solid #FFFFFF;
    border-style: solid;
    border-width: 1px;
    height: 17px;
    padding-left: 2px;
    padding-right: 2px;
    text-align: left;
    }
    BODY.IFrame {
    background-color: #E9E9FC;
    height: 100%;
    }
    TABLE.IframeTable{
    WIDTH:100%;
    HEIGHT:100%;
    }
    TABLE.ContentPage {
    background-color: #E9E9FC;
    border-color: #FFFFFF;
    border-right: 0px solid #FFFFFF;
    border-style: solid;
    border-width: 0px;
    height: 100%;
    width: 100%;
    }
    TD.ContentDetail {
    border-color: #FFFFFF;
    border-right: 0px solid #FFFFFF;
    border-style: solid;
    border-width: 0px;
    font-size: 12px;
    font-weight: bold;
    height: 18px;
    padding-left: 6px;
    vertical-align: bottom;
    }
    TD.ContentDetailLine {
    border-color: #FFFFFF;
    border-right: 0px solid #FFFFFF;
    border-style: solid;
    border-width: 0px;
    font-size: 12px;
    font-weight: bold;
    height: 18px;
    padding-left: 6px;
    vertical-align: bottom;
    width: 341px;
    }
    TD.ContentDetailLineEvent {
    border-color: #FFFFFF;
    border-right: 0px solid #FFFFFF;
    border-style: solid;
    border-width: 0px;
    font-size: 12px;
    font-weight: bold;
    height: 18px;
    padding-left: 6px;
    text-align: right;
    vertical-align: bottom;
    }
    TABLE.ContentTable {
    background-color: #E9E9FC;
    border-collapse: collapse;
    border-color: #FFFFFF;
    border-right: 0px solid #FFFFFF;
    border-style: solid;
    border-width: 0px;
    font-size: 12px;
    height: 100%;
    width: 99%;
    }
    TD.ContentTableField_1 {
    background-color: #D6D6FF;
    border-collapse: collapse;
    border-color: #FFFFFF;
    border-right: 1px solid #FFFFFF;
    border-style: solid;
    border-width: 1px 1px 0px;
    height: 17px;
    padding: 0px 20px 0px 2px;
    text-align: left;
    }
    TD.ContentTableField {
    border-color: #FFFFFF;
    border-right: 1px solid #FFFFFF;
    border-style: solid;
    border-width: 1px;
    height: 17px;
    padding: 0px 20px 0px 2px;
    text-align: left;
    }
    TABLE.ContentTextTable {
    background-color: #E9E9FC;
    border-color: #FFFFFF;
    border-right: 0px solid #FFFFFF;
    border-style: solid;
    border-width: 0px;
    font-size: 12px;
    font-weight: bold;
    height: 100%;
    text-align: left;
    width: 100%;
    }
    BODY.ContentLongBody {
    background-color: #D6D6FF;
    }
    TABLE.ContentLongText {
    background-color: #D6D6FF;
    border-color: #FFFFFF;
    border-right: 0px solid #FFFFFF;
    border-style: solid;
    border-width: 0px;
    font-size: 12px;
    }
    TD.ContentLongText {
    padding-left: 3px;
    padding-top: 10px;
    vertical-align: top;
    }
    TD.ContentLongElement {
    padding-left: 3px;
    padding-top: 2px;
    vertical-align: top;
    }
    .row_selected {
    background-color: #BABAFD;
    }
    .row_nonselected {
    background-color: #E9E9FC;
    }
    TR.row_selected{
    cursor:pointer;
    background-color:#D6D6FF;
    }
    TR.row_nonselected{
    cursor:pointer;
    background-color:#E9E9FC;
    }
    .enterformclass {
    border-color: -moz-use-text-color;
    border-right: 0px none;
    border-style: none;
    border-width: 0px;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    text-align: right;
    text-decoration: none;
    }
    .Header_Link {
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    text-align: right;
    text-decoration: underline;
    }
    .Header_Link_Element {
    padding: 18px;
    text-align: right;
    }
    .loadButton {
    font-weight:bold;
    background:#7F7FFF;
    border:0 none;
    cursor:pointer;
    }
    .browseButton {
    font-weight:bold;
    background:#7F7FFF;
    border:0 none;
    cursor:pointer;
    width:100%
    }
    .file_input_textbox {
    float: left;
    }
    .file_input_div {
    margin: 1px;
    overflow: hidden;
    position: relative;
    width: 90%;
    }
    .file_input_hidden {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    right: 0px;
    top: 0px;
    opacity:0;
    filter:alpha(opacity=0);
    -ms-filter:"alpha(opacity=0)";
    -khtml-opacity:0;
    }
    TD.headlineColumn {
    border-left: 6px solid #E9E9FC;
    border-top: 4px solid #E9E9FC;
    font-size: 12px;
    font-weight: bold;
    height: 21px;
    text-align: right;
    width: 40%;
    }
    TD.labelColumn {
    border-left: 6px solid #E9E9FC;
    border-top: 4px solid #E9E9FC;
    font-size: 12px;
    height: 21px;
    text-align: right;
    width: 40%;
    }
    TD.outputColumn {
    background-color: #E0E0F7;
    border-left: 6px solid #E9E9FC;
    border-top: 4px solid #E9E9FC;
    width: 60%;
    font-size: 12px;
    }
    TD.Title_Area_PrinterIcon {
    padding: 0 33px 10px 0;
    text-align: right;
    vertical-align: bottom;
    }
    SPAN.Text_ReloadIcon {
    color: #000080;
    font-size: 12px;
    margin: 0;
    padding: 0px 0px 3px 0px;
    text-decoration: underline;
    vertical-align: middle;
    }
    #dynamic_link {
    cursor: pointer;
    padding-right: 6px;
    }
    TABLE.formTable {
    width: 650px;
    }
    FORM {
    margin: 0pt;
    padding: 0pt;
    }
    TD.Device_Name_Hidden {
    color: #00005E;
    font-size: 1px;
    font-variant: normal;
    font-weight: bold;
    padding: 0;
    vertical-align: top;
    visibility: hidden;
    }